.book-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: left; /* Center the books horizontally */
}

.book {
  margin-bottom: 20px;
}




.card-img-top {
  width: 100%;
  height: 15rem;
  object-fit: cover;
  margin-top: 1rem;
  border-radius: 0;
}

.card {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem !important;
}

.card-title {
  font-size: 0.8rem; /* Decrease h1 tag font size */
  height: 2rem; /* Adjust height as needed for uniformity */
  overflow: hidden; /* Hide overflow text */
}

.card-text {
  height: 2rem; /* Adjust height as needed for uniformity */
  overflow: hidden; /* Hide overflow text */
}

.btn {
  height: 2.5rem; /* Set button height for consistency */
  margin-bottom: 0 !important;
  border: 1px solid #eb3573;
}
p{
  margin: 0 !important;
}
#button{
  background-color: #19263b;
  height: 2.5rem;
  text-align: center;
  margin-left:0.5rem;
  margin-bottom: 1rem;
  color: white !important;
  border: 1px solid #19263b;
 

}
.active > .page-link{
  background-color: white !important;
}
.category{
  width:20rem;
}
.col-md-2 {
  flex: 0 0 auto;
  width: 25% !important;
}