/* mat-toolbar {
    position: fixed;
    background: white;
    color: black;
    top: 0;
    left: 250px;
    right: 0;
    z-index: 1100;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.spacer {
    flex: 1 1 auto;
}

.user-info {
    display: flex;
    align-items: center;
}

.name {
    margin-right: 1.5rem;
}

#button1 {
    margin-left: 1rem;
    margin-right: 1rem;
}

#button2 {
    margin-right: 2rem;
}

.mat-toolbar-row, .mat-toolbar-single-row {
    width: 83rem !important;
}

.form-inline{
    display: flex;
}



 
 */
 .card-container {
    position: fixed;
    top: 0;
    right: -100%; /* Initially hide the card off-screen */
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
    transition: right 0.3s ease-out; /* Transition for smooth animation */
    z-index: 1000; /* Ensure the overlay is above other content */
  }
  
  .card-container.open {
    right: 0; /* Slide the card in from right to left when open */
  }
 
  /* .navbar {
    z-index: 1000;
    position:fixed; 
    background-color: white;
  } */