
<nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" data-scroll="true">
  <div class="container-fluid py-1 px-3" >
    <nav aria-label="breadcrumb">
      
      <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
        <li class="breadcrumb-item text-sm"><a class="opacity-5 text-dark" href="javascript:;"><i class="fa-solid fa-house"></i></a></li>
        <li class="breadcrumb-item text-sm text-dark active" aria-current="page">{{ breadcrumb | titlecase }}</li>
      </ol>
      <h6 class="font-weight-bolder mb-0">{{ breadcrumb | titlecase }}</h6>
      
    </nav>
    <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
      <div class="ms-md-auto pe-md-3 d-flex align-items-center">
          
       
      </div>
      <ul class="navbar-nav justify-content-end">
        <li class="nav-item  d-flex align-items-center">
          <div class="container mt-3 p-3">
            <div class="form-group" style="border:1px solid black;border-radius:0.5rem;">
                <input type="date" class="form-control" id="dateInput" [value]="todayDate">
            </div>
          </div>
        </li>

        <!-- <li class="nav-item px-3 d-flex align-items-center">
          <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"><i class="fa-solid fa-heart"></i></button>
        </li> -->
       
          <li class="nav-item d-flex align-items-center">
            @if(loggedIn){
              <div class="mt-2">Hi, {{name}}</div>
              }       
               </li>
          <li class="nav-item d-flex align-items-center">
            <button mat-icon-button [matMenuTriggerFor]="userMenu">
              <i class="fa-solid fa-user"></i>
            </button>
            <mat-menu #userMenu="matMenu" >
              <button mat-menu-item (click)="navigateToProfile()" >
                <i class="fa-solid fa-user"></i>&nbsp;
                <span>Profile</span>
              </button>
              <button mat-menu-item (click)="logout()">
                <i class="fa-solid fa-right-from-bracket"></i>&nbsp;
                <span >Logout</span>
              </button>
            </mat-menu>
          </li>
          
      </ul>
    </div>
  </div>
</nav>


<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    <h5 id="offcanvasRightLabel">Offcanvas right</h5>
    <button type="button" class="btn-close text-reset " data-bs-dismiss="offcanvas" aria-label="Close">X</button>
  </div>
  <div class="offcanvas-body">
    ...
  </div>
</div>