
<!--            
       <div class="container-fluid ">
        <div class="row">
          <div class="col-12">
            <div class="card my-4">
              <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                <div class="shadow-dark border-radius-lg pt-4 pb-3" style="background-color:#19263b;height:4rem;">
                  <div class="d-flex justify-content-between align-items-center h-100">
                    <p class="text-white text-capitalize ps-3 mb-0 text-center text-dark font-weight-bold">Profile</p>
                    
                  </div>
                </div>
              </div>
              <div class="card-body px-0 pb-2">
                
                  <div>
                    
                    <div>
                      <div class="table-responsive p-0">
                        <table class="table align-items-center mb-0">
                          <thead>
                            <tr>
                              <th class=" text-center text-utext-center ppercase text-secondary text-xxs font-weight-bolder opacity-7">Id</th>
                              <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 fixed-width">Title</th>
                              <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 fixed-width">Author</th>
                              <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Price</th>
                              <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Availability</th>
                              <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Order</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td class="text-center"></td>
                              <td class="fixed-width text-center "></td>
                              <td class="fixed-width text-center "></td>
                              <td class="text-center"></td>
                              <td class="text-center"></td>
                              <td>
                                <button class="btn btn-sm btn-success"  >Order</button>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
       -->
       <!-- <mat-card>
        <mat-card-header>
            <mat-card-title>Profile Information</mat-card-title>
        </mat-card-header>
    
        <mat-card-content>
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    
               
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Name </th>
                    <td mat-cell *matCellDef="let element"> {{ element.name }} </td>
                </ng-container>
    
                
                <ng-container matColumnDef="value">
                    <th mat-header-cell *matHeaderCellDef> Value </th>
                    <td mat-cell *matCellDef="let element"> {{ element.value }}
                    </td>
                </ng-container>
    
                <tr mat-header-row *matHeaderRowDef="columns" hidden></tr>
                <tr mat-row *matRowDef="let row; columns: columns"></tr>
    
            </table>
        </mat-card-content>
    </mat-card> -->
    <div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card my-4">
        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
          <div class="shadow-dark border-radius-lg pt-4 pb-3" style="background-color:#19263b;height:4rem;">
            <div class="d-flex justify-content-between align-items-center h-100">
              <p class="text-white text-capitalize ps-3 mb-0 text-center text-dark font-weight-bold">Profile Information</p>
            </div>
          </div>
        </div>
        <div class="card-body px-0 pb-2">
          <div class="p-4">
            <form>
                <div class="row mb-3">
                    <ng-container *ngFor="let element of dataSource; let i = index">
                      <div class="col-6 ps-2" *ngIf="i % 2 === 0">
                        <label class="form-label">{{ element.name }}</label>
                        <input type="text" class="form-control custom-input ps-2" [value]="element.value" readonly>
                      </div>
                      <div class="col-6 ps-2" *ngIf="i % 2 === 1 || i === dataSource.length - 1">
                        <label class="form-label">{{ element.name }}</label>
                        <input type="text" class="form-control custom-input ps-2" [value]="element.value" readonly>
                      </div>
                    </ng-container>
                  </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
