mat-card {
    width: max-content;
  
    mat-form-field {
      margin-right: 1rem;
    }
  
    .fine {
      display: flex;
      gap: 1rem;
      align-items: center;
      margin-bottom: 1rem;
    }
    
    .fine button {
      width: max-content;
    }
    
    .fine-amount {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 6%;
      font-weight: bold;
      color: red;
      padding: 0.5rem 1rem;
      border-radius: 5px;
    }
  
    button {
      font-size: 1.5rem;
      padding: 1.5rem;
      width: 100%;
    }
  }
  .category-user{
    width:15rem
  }
  .category-book{
    width: 30rem;
    margin-left: 1rem;
  }