      mat-card{
          
    width: 200px; 
    height: 50px; 
    margin: 10px; 
    text-align: center; 
    background-color:white; 
    color:#19263b; 
    border-radius: 8px;
    opacity: 0.8;
    
          h2{
              font-size: 20px;
              font-weight: 400;
              line-height: 25px; 
              white-space: nowrap; 
              overflow: hidden; 
              text-overflow: ellipsis;
              text-align: center;
              justify-content: center;
              
          }   
      }
      mat-icon {
          margin-right: 8px;
        }
    
    a {
      position: relative; 
    z-index: 1; 
      font-size: 1rem;
      display: block;
      padding: 10px;
      text-decoration: none;
      color: white !important; 
      position: relative;
      transition: background-color 0.3s, color 0.3s;
      display: flex;
    align-items: center;
    margin-top: 0.5rem;
    }
    a:hover{
      background-color: rgba(103, 123, 157, 0.7);
      border-radius: 12px;
      
    }
    .active-link{
      background-color: rgba(103, 123, 157, 0.7);
      border-radius: 12px;
    }
    