<!-- <mat-card>
     <mat-card-content>
     <h2> {{ panelName}} </h2>
    </mat-card-content>
</mat-card>
<mat-nav-list>
  
    <a *ngFor="let item of navItems"
    style="color: white !important;"
    [routerLink]="item.link"
    routerLinkActive="active-link">
   <mat-icon>{{ item.icon }}</mat-icon>{{ item.value }}
 </a>
</mat-nav-list> -->

<aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3" style="background-color:#19263b;" id="sidenav-main">
  <div class="sidenav-header">
    <i class="fas fa-times p-3 cursor-pointer text-white opacity-5 position-absolute end-0 top-0 d-none d-xl-none" aria-hidden="true" id="iconSidenav"></i>
    <div class="navbar-brand m-0">
      <span class="ms-1 text-white" style="font-size:x-large;">{{ panelName }}</span>
    </div>
  </div>
  <hr class="horizontal light mt-0 mb-2">
  <div class="collapse navbar-collapse w-auto" id="sidenav-collapse-main">
    <mat-nav-list>
      <a *ngFor="let item of navItems" style="color: white !important;" [routerLink]="item.link" routerLinkActive="active-link">
        <i class="fa {{ item.icon }} me-2" aria-hidden="true"></i>{{ item.value }}
      </a>
    </mat-nav-list>
  </div>
</aside>

