
  /* .container-fluid{
margin-top: 7rem;
  }
  
  .main-content {
    position: relative; /* Ensure stacking context for z-index to work */
    /* Ensure main content is above the side nav */
     /* Adjust top margin to clear the fixed navbar */
  
  
  .container-fluid {
    position: relative; /* Ensure stacking context for z-index to work */
    z-index: 0; /* Ensure content is behind the main content */
  }   
  
 