

:host {
  display: block;
  padding: 1rem 0;
}


.input-group .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.form-control{
	border-radius: 7px;
	border: 1.5px solid #E3E6ED;
}
input.form-control:focus{
	box-shadow: none;
	border: 1.5px solid #E3E6ED;
	background-color: #F7F8FD;
	letter-spacing: 1px;
}
.btn-primary{
	background-color: #5878FF!important;
	border-radius: 7px;
}
.btn-primary:focus{
	box-shadow: none;
}
.text{
	font-size: 13px;
	color: #9CA1A4;
}

mat-accordion {
  mat-panel-title {
    font-size: 1.4rem;
    letter-spacing: 2px;
    font-weight: 500;
  
  }

  mat-panel-description {
    font-style: italic;
    font-size: 1.2rem;
    letter-spacing: 1px;
  }

  table {
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.1);

    .mat-mdc-header-cell {
      font-style: italic;
      font-size: 1.2rem;
    }

    .mat-mdc-cell {
      font-size: 1.2rem;
    }
  }
}
.id-column {
  width: 10%;
}
.title-column {
  width: 10%;
}
.fixed-width {
  width: 200px; /* Set your desired fixed width */
  white-space: normal; /* Enable wrapping */
  word-wrap: break-word; /* Break words if necessary */
}